{% extends 'base_code.html' %} {% load static %} {% block title %} {% endblock %} 


{% block content %}
<div class="flex flex-col items-center justify-center bg-gradient-to-t h-screen " style="" >
    <div class="">
        <!-- <div>
            <img src="{% static 'bg_pay.jpg' %}" alt="">
        </div> -->
        <h2 class="text-orange-300 font-bold">You have to pay, the subscription for this courses to access the course</h2>
        <form id="paymentForm"  class="form-control md:w-96 mx-2 ">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{course_id}}" id="course_id">
            <div class="">
                <label for="email">Email Address</label><br>
                <input type="email" id="email-address" required  class="w-full rounded-md bg-transparent border-2"/>
            </div>
            <div class="">
                <label for="amount">Amount</label> <br>
                <input type="tel" id="amount" value="4000" disabled  required class="w-full rounded-md bg-transparent border-2 disabled:true" />
            </div>
            <div class="">
                <label for="first-name">First Name</label></br>
                <input type="text" id="first-name" class="w-full rounded-md bg-transparent border-2" />
            </div>
            <div class="">
                <label for="last-name">Last Name</label> </br>
                <input type="text" id="last-name" class="w-full rounded-md bg-transparent border-2" />
            </div>
            <div class="form-submit mt-2 " >
                <button type="submit" onclick="makePayment()" class="rounded-lg px-5 py-1 bg-blue-600 text-white font-bold" onclick="payWithPaystack()"> Pay </button>
            </div>
</form>
</div>
    </div>
<!-- <script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-21469351733ef2890a047a0918e952cb-X",
      tx_ref: "txref-DI0NzMx12",
      amount: 2500,
      currency: "RWF",
      callback:function(data){
        console.log(data)
      },
      payment_options: "card, mobilemoneyrwanda, account",
      redirect_url: "http://localhost:8000/course/ad421352-1a37-4f9c-a642-28f84cbd6aff",
      meta: {
        source: "docs-inline-test",
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "test@mailinator.com",
        phone_number: "250782214360",
        name: "Ayomide Jimi-Oni",
      },
      customizations: {
        title: "Course Subscription",
        description: "Test Payment",
        logo: "https://checkout.flutterwave.com/assets/img/rave-logo.png",
      },
    });
  }
</script> -->

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    const paymentForm = document.getElementById('paymentForm');
    const courseId=$('#course_id').val()
    paymentForm.addEventListener("submit", payWithPaystack, false);

    function payWithPaystack(e) {
    e.preventDefault();

    let handler = PaystackPop.setup({
        key: 'pk_test_c270e6ef2f91bbdb8df0d1fc02fc51cab9be46c1', // Replace with your public key
        email: document.getElementById("email-address").value,
        amount: document.getElementById("amount").value * 100,
        currency:'RWF',
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
        alert('Window closed.');
        },
        callback: function(response){
            
        let message = 'Payment complete! Reference: ' + response.reference;
        if(response.message=='Approved'){
            $.ajax({
                url:'/payment/' + courseId,
                method:'POST',
                data:{
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    location.reload()
                },
                error:function(error){
                    console.error(error)
                }

            })
        }
        alert(message);
        }
    });

    handler.openIframe();
    }
</script>
{% endblock content %}